/* big tablet to 1200px (widths smaller than 1140px row) */

@media only screen and (max-width: 1300px) {
	.backdrop-text {
		margin-left: 15%;
		max-width: 380px;
		padding: 40px 90px 15px 15px;
	}
}

@media only screen and (max-width: 1141px) {
	.backdrop-text {
		margin-left: 15%;
		max-width: 350px;
		padding: 40px 90px 15px 15px;
	}
	.title-text {
		top: 90%
	}
	.title-icons {
		top: 95%;
	}
	.title-icons i {
		background-color: #DF5826;
		padding: 10px 15px;
		border-radius: 50%;
	}
	.corousel-pic-2 {
		left: 14%;
		top: 215%;
	}
}


/* Small Tablet to big Tablet 768 to 1023px */

@media only screen and (max-width: 1023px) {
	.title-text {
		top: 80%;
		left: 40%;
	}
	.title-icons {
		top: 85%;
		left: 75%;
	}
	.section-news-text {
		padding: 15px;
	}
	.backdrop-text {
		position: relative;
		margin-left: 2%;
		top: 20px;
		max-width: 100%;
		padding: 40px 80px 15px 15px;
		border: 0;
		border-left: 2px solid #df5826;
		z-index: 999;
	}
	.text-column {
		max-width: 80%;
		height: auto;
		color: black;
		position: relative;
		right: -10%;
		top: -150px;
		margin-bottom: -150px;
	}
	.text-img {
		position: relative;
		top: 480px;
		margin-left: 25%;
		width: 50%;
		height: auto;
	}
	.last-para {
		margin-top: 300px;
	}
	.corousel-pic-1 img {
		width: 400px;
	}
	.corousel-pic-3 img {
		width: 400px;
	}
	.corousel-pic-2 img {
		width: 500px;
	}
}


/* Small phones to smal;l tablets: 481px to 767px */

@media only screen and (max-width: 768px) {
	.sidebar-ins {
		display: none;
	}
	.mob {
		display:contents;
	}
	.title-text {
		top: 70%;
		width: 90%;
		left: 5%;
		-webkit-transform: translateX(0%) translateY(0%);
		transform: translateX(0%) translateY(0%);
	}
	.title-icons {
		display: none;
	}
	.text-column {
		max-width: 90%;
		position: relative;
		right: -5%;
		top: -120px;
		margin-bottom: -80px;
	}
	.text-img {
		position: relative;
		top: 510px;
		margin-left: 20%;
		width: 60%;
		height: auto;
	}
	.last-para {
		margin-top: 300px;
	}
	.corousel-pic-1 img {
		width: 300px;
	}
	.corousel-pic-3 img {
		width: 300px;
	}
	.corousel-pic-2 img {
		width: 400px;
		margin-bottom: -80px;
	}
	.ion-ios-arrow-thin-left {
		left: 2%;
	}
	.ion-ios-arrow-thin-right {
		right: 2%;
	}
}

@media only screen and (max-width:600px) {
	.text-img {
		position: relative;
		top: 530px;
	}
	.last-para {
		margin-top: 240px;
	}
}


/* Small phones: 0 to 480px */

@media only screen and (max-width: 480px) {
	.arrows {
		display: none;
	}
	.title-icons {
		display: none;
	}
	header {
		max-height: 60vh;
	}
	.title-text {
		top: 35%;
	}
	.title-text h1 {
		font-size: 30px;
		font-weight: 500;
	}
	.overlap-img {
		float: left;
		position: absolute;
		z-index: -1;
		max-width: 60%;
		height: auto;
	}
	.backdrop-img {
		float: right;
		max-width: 60%;
		height: auto;
		margin-top: -15%;
	}
	.backdrop-text {
		top: 90px;
		padding: 10px 10px;
	}
	.text-column {
		top: -90px;
		margin-bottom: -50px;
	}
	.text-img {
		position: relative;
		top: 680px;
		margin-left: 0%;
		width: 100%;
		height: auto;
	}
	.last-para {
		margin-top: 260px;
	}
	.section-slideshow {
		margin-top: 10px;
	}
	.corousel-pic-1 img {
		width: 200px;
	}
	.corousel-pic-3 img {
		width: 200px;
	}
	.corousel-pic-2 img {
		width: 300px;
		top: -40px;
	}
	.corousel i {
		display: none;
	}
	.section-slideshow h3 {
		margin-top: 60px;
	}
	.comments-header {
		height: 60px;
	}
	.comments-header h1 {
		padding: 15px;
		font-size: 25px;
	}
	#comment {
		width: 100%;
	}
	.comment-box {
		padding: 10px;
	}
	.comment-box img {
		height: 40px;
	}
	.ion-quote {
		font-size: 30px;
		color: #df5826;
		position: relative;
		top: 0px;
	}
	.no-comments h2 {
		font-size: 20px;
	}
	.weather-box {
		padding: 10px;
	}
	.weather-box img {
		height: 40px;
	}
	.weather-box h2 {
		display: inline-block;
		font-weight: 500;
		color: #df5826;
	}
	.comment-timestamp {
		float: left;
		width: 80%;
		margin-left: 5px;
	}
	.comment-temp {
		float: right;
	}
}

@media only screen and (max-width:425px) {
	.title-text {
		top: 40%;
	}
	.mob ul {
		-ms-flex-line-pack: center;
		align-content: center;
		text-align: center;
	}
	.mob ul li {
		display: inline-block;
		margin-left: 20%;
		font-size: 25px;
	}
	.sidebar {
		padding: 5px;
	}
	.text-img {
		top: 740px;
	}
	.last-para {
		margin-top: 250px;
	}
}

@media only screen and (max-width: 375px) {
	.text-img {
		top: 770px;
	}
	.title-text {
		top: 33%;
	}
	.last-para {
		margin-top: 230px;
	}
	.corousel-pic-1 img {
		width: 150px;
	}
	.corousel-pic-3 img {
		width: 150px;
	}
	.corousel-pic-2 img {
		width: 250px;
		top: -40px;
	}
}

@media only screen and (max-width: 330px) {
	.title-text {
		top: 30%;
	}
	.text-img {
		top: 840px;
	}
	.last-para {
		margin-top: 200px;
	}
}

@media only screen and (max-height:320px) {
		

	
	.title-text {
		top: 70%;
	}
	.title-text h1 {
		font-size: 30px;
	}
}