

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html
{
    background-color: #fff;
    color:white;
    font-family: 'Lato','Arial','sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
} 

.row 
{
    max-width:100%;
    margin: 0 auto;
}

/*HEADERS*/
header{
	
    background-image:linear-gradient(rgba(0, 0, 0, 0), rgb(38, 38, 38)),url('http://via.placeholder.com/1920x1200');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
	font-size: 24px;
}


/*nav*/

.left-nav-bar{
	float: left;
	list-style: none;
	display: inline-block;
}

.left-nav-bar li{
	display: inline-block;
	padding: 0px 10px;
}

.ion-ios-analytics{
	position: absolute;
        top: 25px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}


.right-nav-bar{
	float: right;
	list-style: none;
}

.right-nav-bar li{
display: inline-block;
	padding: 0px 10px;
}

.sidebar{
	float: left;
	background: #DF5826;
	width: 100%;
	padding: 15px;
}

.user-img{
	height: 30px;
	border-radius: 50%;

}

i{
	margin-bottom: 4px;
}

.title-text{
	position: absolute;
	top: 80%;
	left:45%;
	transform:translateX(-50%)
	translateY(-50%);
	display: inline-block;
}

.title-icons{
	position: absolute;
	top: 85%;
	left:80%;
	transform:translateX(-50%)
	translateY(-50%);
	display: inline-block;
}

.title-icons i{
	background-color: #DF5826;
	padding: 10px 15px;
	border-radius: 50%;
}


/*section news text*/

.section-news-text{
	color: black;
	width: 900px;
	margin-top:40px;
	font-size: 15px;
}

.section-news-text p, i {
	display: inline-block;
	padding: 5px;
	font-weight: 400;
}

.news-section{
	float: right;
	border-bottom: 1px solid black;
}

.section-news-text h3 {
	margin-top: 40px;
	margin-bottom: 50px;
	font-weight: 500;
	
}



/*section-pic-doc*/

.section-pic-doc img{
	display: inline-block;
	
}

.overlap-img{
	position: relative;
	z-index: -1;
}

.backdrop-img{
	position: absolute;
	right: 0%;
	top:160%;
}

.backdrop text{
	position: absolute;
	top:180%;
}

.backdrop-text {
	position: absolute;
	top:195%;
	right:50%;
	color: #df5826;
	max-width: 400px;
	padding: 40px 0px 15px 15px;
	border: 2px solid #df5826;
	z-index: -999;
}

.backdrop-text h3 {
	font-weight: 400;
	font-size:22px;
}

.text-column{
	max-width: 400px;
	color: black;
}

.text-column {
	position: relative;
	right:-60%;
	bottom: 200px;
	margin-bottom: -160px;

	padding: 10px 10px;
}

hr{
	margin-bottom: 30px;
	width: 6%;
	margin-left: 47%;
	border:2px solid #df5826;
	border-radius: 10%;
}

.text-img{
	position: relative;
	top:250px;
	left:5%;
	display: inline-block;
}


/*slideshow*/

.section-slideshow{
	height: 600px;
	margin-bottom: 50px;
}

.section-slideshow h3,h4 {
	color: black;
	font-weight: 400;
	position: relative;
	top:460px;
	text-align: center;
}
.section-slideshow h4{
	color: #645f5f;
	text-align: center;
}
.ion-ios-arrow-thin-left, .ion-ios-arrow-thin-right{
	font-size: 40px;
	color: #df5826;
}

.ion-ios-arrow-thin-left
{
	position: relative;
	top:460px;
	left:8%;
}

.ion-ios-arrow-thin-right{
	position: relative;
	top:460px;
	right:-88%;
}